:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --dark-blue: hsl(200, 15%, 8%);
  --shadow: 0 3px 4px rgb(0 0 0 / 6%);
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
  --radius: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-color: var(--dark-blue);
}

html,
body {
  height: 100%;
  width: 100%;

  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;

  background: var(--light-gray);
  color: var(--dark-blue);
}

body.theme-dark {
  --white: hsl(209, 23%, 22%);
  --light-gray: hsl(207, 26%, 17%);
  --dark-blue: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

input[type='text'] {
  padding-left: 0.75em;
  padding-right: 0.75em;

  font-family: inherit;
}

button {
  border: none;
  padding: 0.5em 1.75em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  font-size: 0.8em;

  background: var(--white);
  color: var(--dark-blue);

  cursor: pointer;
}

button.flat {
  box-shadow: none;
}

.search-field input,
.search-field button {
  border: none;

  background: inherit;
}

.container,
.topbar,
.countries,
.country {
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.search-field,
.select__title {
  height: 50px;
  
  line-height: 50px;
}

@media only screen and (min-width: 1440px) {
  :root {
    --container-width: 1440px;
  }
}
