.countries {
  padding-bottom: 1em;

  background: var(--light-gray);
}

.countries > * {
  margin-bottom: 2em;
}

.countries-cards {
  display: grid;
  place-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
  .countries-cards {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 600px) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 700px) {
  .countries-cards {
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 80px;
  }
}

@media only screen and (min-width: 1020px) {
  .countries-cards {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 1440px) {
  .countries-cards {
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 80px;
  }
}
