.search-field {
  height: 46px;
  // min-width: 400px;
  display: flex;
  flex-direction: row-reverse;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;

  background: var(--white);
}

.search-field input {
  flex-grow: 2;

  color: var(--dark-gray);
  background: transparent;
}

.search-field svg {
  height: 20px;
  width: 70px;
  
  background: transparent;
  color: var(--dark-gray);
}
