.topbar {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);

  background: var(--white);
}

.topbar h1 {
  font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
  .topbar h1 {
    font-size: 1em;
  }
}
